<%= form_with(model: note, local: true) do |form| %>

    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content %>
    </div>

    <div>
    <%= form.label :picture %> <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg'%>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>