<h1>My notes</h1>

<% @noteboard.each do |note| %>
  <%= note.title%>
  <%= note.content%>
  <% if note.picture.attached?%>
    <%= image_tag note.picture, class: "img_btn"%>
  <% end %>
  
  <%= link_to 'Edit', edit_note_path(note) %>
  <br><br>

<% end %>

<%= link_to 'Sort', method: :sort %>
<%= link_to 'New', new_note_path %>



